
<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Create Billing</h1>
        <img src="assets/img/serviceCall-add.svg" alt="ServiceCallcreate">

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Select Customer</mat-label>
            <mat-select [(ngModel)]="billing.idCustomer" name="idCustomer" required placeholder="Select Type"
                [formControl]="Customer">
                <mat-option *ngFor="let option of CustomerOptions" [value]="option.id">{{ option.name}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>construction</mat-icon>
            <mat-error *ngIf="Customer.invalid && (Customer.dirty || Customer.touched)">
                <span *ngIf="Customer.errors?.['required']">This field is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Select Tech</mat-label>
            <mat-select [(ngModel)]="billing.idTechnician" name="idTechnician" [formControl]="Technician" required
                placeholder="Select Tech">
                <mat-option *ngFor="let option of TechnicianOptions" [value]="option.id">{{ option.name}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>construction</mat-icon>
            <mat-error *ngIf="Technician.invalid && (Technician.dirty || Technician.touched)">
                <span *ngIf="Technician.errors?.['required']">This field is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="calendar-serviceCall" appearance="fill">
            <mat-label>Choose a Initial date</mat-label>
            <input [(ngModel)]="billing.initialDateBilling" matInput [matDatepicker]="initialPicker" name="initialDateBilling"
                [formControl]="initialDateBilling" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="initialPicker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #initialPicker></mat-datepicker>
            <mat-error *ngIf="initialDateBilling.invalid && (initialDateBilling.dirty || initialDateBilling.touched)">
                <span *ngIf="initialDateBilling.errors?.['required']">This field is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="calendar-serviceCall" appearance="fill">
            <mat-label>Choose a Final date</mat-label>
            <input [(ngModel)]="billing.finalDateBilling" matInput [matDatepicker]="finalPicker" name="finalDateBilling"
                [formControl]="finalDateBilling" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="finalPicker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #finalPicker></mat-datepicker>
            <mat-error *ngIf="finalDateBilling.invalid && (finalDateBilling.dirty || finalDateBilling.touched)">
                <span *ngIf="finalDateBilling.errors?.['required']">This field is required.</span>
            </mat-error>
        </mat-form-field>

        <button (click)="create()" [disabled]="!validaCampos()" class="fullWidth mat-elevation-z4" mat-flat-button
            color="primary">Create</button>
        <button routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>
    </form>
    <p class="fullWidth">By José Marcos</p>
</div>