<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">View Stock</h1>
        <img class="fullWidth" src="assets/img/stock-view.svg" alt="customercreate">


        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Description</mat-label>
            <input [(ngModel)]="stock.description" name="desc" [disabled]="true" matInput>
            <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Amount</mat-label>
            <input [(ngModel)]="stock.amount" name="amount" [disabled]="true" matInput>
            <mat-icon matSuffix>123</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>ValueBuy</mat-label>
            <input [(ngModel)]="stock.valueBuy" name="valueBuy" [disabled]="true" matInput>
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Type</mat-label>
            <input [(ngModel)]="stock.type" name="password" [disabled]="true" matInput>
            <mat-icon matSuffix>fact_check</mat-icon>
        </mat-form-field>

        <button routerLink="../../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Return</button>
    </form>
    <p class="fullWidth">By José Marcos</p>
</div>