footer{
background-color: #001220;
margin: 0;
position: relative;
bottom: 0;
width: 100%;
background-image: url("../../../assets/img/moon-unsplash.jpg");
border-top: 1px  solid #d26a50;




}
.text-body-secondary {
    color: #d26a50 !important;
}

