.container{
    display: flex;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 3rem;
    margin-top: 1rem;
    border: 1px solid #d26a50;
    padding: 1rem 10%;
    border-radius: 6rem 1rem 6rem 1rem;
    text-shadow: 5px 5px 5px #d26a50;
}