<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Register Technician</h1>
        <img class="fullWidth" src="assets/img/technician-create-icon.svg" alt="techniciancreate">

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="technician.name" name="name" [formControl]="name" required matInput
                placeholder="Ex.. Ze das couves" maxlength="50">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                <span *ngIf="name.errors?.['required']">This field is required.</span>
                <span *ngIf="name.errors?.['minlength']">You have reached the minimum number of
                    characters.</span>
                <span *ngIf="name.errors?.['maxlength']">You have reached the maximum number of
                    characters.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>CPF</mat-label>
            <input [(ngModel)]="technician.cpf" name="cpf" [formControl]="cpf" min="14" required matInput
                placeholder="000.000.000-00" mask="000.000.000-00">
            <mat-icon matSuffix>pin</mat-icon>
            <mat-error *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
                <span *ngIf="cpf.errors?.['minlength']">You have reached the minimum number of
                    characters.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="technician.email" name="email" type="email" [formControl]="email" required matInput
                placeholder="Ex.. Fulano1234@gmail.com">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <span *ngIf="email.errors?.['required']">This field is required.</span>
                <span *ngIf="email.errors?.['email']">Invalid email address</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="technician.password" name="password" maxlength="12" minlength="3"
                [formControl]="password" required type="password" matInput placeholder="Placeholder">
            <mat-icon matSuffix>password</mat-icon>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <span *ngIf="password.errors?.['required']">This field is required.</span>
                <span *ngIf="password.errors?.['minlength']">You have reached the minimum number of
                    characters.</span>
            </mat-error>
        </mat-form-field>

        <button (click)="create()" [disabled]="!validaCampos()" class="fullWidth mat-elevation-z4" mat-flat-button
            color="primary">Register</button>
        <button routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>
    </form>
    <p class="fullWidth">By José Marcos</p>
</div>