.container {
    width: 35rem;
    margin: auto;
    margin-top: -4%;
    padding: 1rem;
    border-radius: .6rem;
}

.fullWidth {
    width: 100%;
}

h1,
p {
    text-align: center;
}

img {
    height: 14rem;
    margin: 3%;
    margin-left: 34%;
    margin-right: 17%;
    border-radius: 10px;
    display: block;
}

.section,
.calendar-serviceCall {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

p {
    margin-top: 4rem;
    opacity: .5;
}

mat-icon {
    opacity: .8;
}