<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Delete Billing</h1>
        <img src="assets/img/stock-delete.svg" alt="ServiceCallDeleted">

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Customer</mat-label>
            <input [(ngModel)]="billing.nameCustomer" name="nameCustomer" disabled matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Tech</mat-label>
            <input [(ngModel)]="billing.nameTechnician" name="nameTechnician" disabled matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Initial Date</mat-label>
            <input [(ngModel)]="billing.initialDateBilling" name="initialDateBilling" disabled matInput>
            <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Final Date</mat-label>
            <input [(ngModel)]="billing.finalDateBilling" name="finalDateBilling" disabled matInput>
            <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>

        <button (click)="delete()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">Delete</button>
        <button routerLink="../../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>
    </form>
    <p class="fullWidth">By José Marcos</p>
</div>