.container{
    height: 100%;
    background: radial-gradient(circle, rgba(130, 166, 89, 1) 0%, rgba(43, 68, 128, 1) 100%);;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 30rem;
    margin: auto;
    background-color: rgba(12, 12, 12, 0.394);
    padding: 4rem 1rem;
    border-radius: 1rem;
}
h1{
    color: white;
    width: 100%;
    text-align: center;

}
img{
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
}
.full-width{
    width: 100%;
}
button{
    margin-top: 1.5rem;
}