<mat-drawer-container class="container_nav" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="../../../assets/img/ferramentas.png" alt="Imagem de navegação">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item routerLink="customer">
                <i class="material-icons">person</i>
                Customer
            </a>
            <a mat-list-item routerLink="technician">
                <i class="material-icons">construction</i>
                Technician
            </a>
            <a mat-list-item routerLink="stock">
                <i class="material-icons">fact_check</i>
                Stock
            </a>
            <a mat-list-item routerLink="serviceCall">
                <i class="material-icons">support_agent</i>
                ServiceCall
            </a>
            <a mat-list-item routerLink="billings">
                <i class="material-icons">savings</i>
                Billings
            </a>
            <a mat-list-item routerLink="home">
                <i class="material-icons">flag</i>
                Reports
            </a>
            <a mat-list-item rel="noopener noreferrer" href="https://github.com/SakakibaraKun/angularconceitos"
                target="_blank">
                <i class="material-icons">code</i>
                GitHub
            </a>

        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <app-header></app-header>
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>
    
</mat-drawer-container>
<mat-drawer-container>
    <app-footer></app-footer>
</mat-drawer-container>