.container_nav{
    height: 100%;
background-color: #001220;

}

.sidenav{
    width: 13rem;
    background-image: url("../../../assets/img/moon-unsplash.jpg");
    border-right: 1px  solid #d26a50;
}
img{
    width: 30%;
    height: auto;
    margin: 3rem 3rem 3rem 4rem;
}

.sidenav a {
    color: white;
}
.sidenav i {
    margin-right: 1rem;
}
.menu{
    margin: 1rem 0 0 1rem;
    color: #d26a50;
    background-image: url("../../../assets/img/moon-orange.svg");
}




