.container{
    height: 100%;
background-color: #001220;
    background-image: linear-gradient(180deg, #001220 45%, #731621 50%, #001220 53%);

}

.sidenav{
    width: 13rem;
    color: greenyellow;
    background-image: url("../../../assets/img/moon-unsplash.jpg");
    border-right: 1px  solid #d26a50;
}
img{
    width: 30%;
    height: auto;
    margin: 3rem 3rem 3rem 4rem;
}

.sidenav a {
    color: white;
}
.sidenav i {
    margin-right: 1rem;
}
.menu{
    margin: 1rem 0 0 1rem;
    color: white;
    background-image: url("../../../assets/img/moon-orange.svg");
    
}


