@import url(/src/styles/common-styles.css);
.container {
    width: 90%;
    margin: auto;

}

table {
    width: 100%;
    background-color: rgba(210, 106, 80, 0.03);
}

mat-form-field {
    width: 100%;
    background-color: rgba(210, 106, 80, 0.03);
}

mat-paginator {
    background-color: rgba(210, 106, 80, 0.1);
}


.edit {
    color: #d26a50;
    margin: 3px;
}

.delete {
    color: red;
    margin: 3px;
}

.visibility {
    color: blue;
    margin: 3px;
}